<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "MyNotes", "/notes", :class => "navbar-brand" %>
      </div>
    </div>
  </div>
<h1>New note</h1>

<%= render 'form' %>
